.gameContainer {
  border-radius: 0.3%;
  box-shadow: 1px 10px 5px rgba(63, 58, 96, 60%);
  margin: 3% auto;
  background-color: white;
  padding: 1%;
  color: $boardgameblue;

  a {
    color: $boardgameblue;
    text-decoration: none;
    box-shadow: 0 1px rgba(255, 81, 0, 30%);
  }
}

.description {
  overflow: auto;
  line-height: 1.4em;
  padding: 4%;
}
@media (max-width: 600px) {
  .gameContainer {
    width: 95%;
  }
}