// * {
//   border: 1px solid gold;
// }
// .hidden {
//   display: none;
// }
$boardgameblue: rgb(63, 58, 96);
$boardgameorange: rgb(255, 81, 0);
$backgroundWhite: darken(rgb(250, 252, 251), 1%);
$green: #92e05e;
$lightgreen: #b9e05d;
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Lora:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.App {
  text-align: center;
}

h2 {
  color: $boardgameblue;
}

.link {
  color: $boardgameorange;
  text-decoration: none;
  box-shadow: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 150px 150px;
  grid-template-areas: "logo space user logout";
  width: 100%;
  min-height: 10vh;
  place-items: center;
  grid-gap: 1%;
  font-family: 'Bree Serif', serif;
  background-color: $boardgameblue;
  grid-area: nav;
  color: $boardgameorange;

  h1 {
    grid-area: logo;
    @extend .link;
  }

  a {
    @extend .link;
  }

  b {
    grid-area: space;
  }

  .logout {
    grid-area: logout;
    text-decoration: none;
  }

  .user {
    grid-area: user;
  }

  span {
    font-weight: 400;
    color: white;

    &:hover {
      color: $boardgameorange;
    }
  }
}

.home {
  height: 90vh;
}

.logForm {
  height: 100%;

  fieldset {
    border: none;

    input[type=submit] {
      background: none;
      border: none;
      font-size: 1em;
      color: $boardgameorange;
    }

    span {
      padding: 1%;
    }
  }
}

.dropNav {
  display: grid;
  grid-template-columns: 1fr 3fr 150px 150px;
  grid-gap: 1%;
  place-items: center;
  width: 100%;
  background-color: $boardgameblue;

  .listNames {
    grid-column: 3;
    display: flex;
    flex-flow: column;
    z-index: 2;

    a {
      color: $green;
      text-decoration: none;
    }
  }

  span {
    width: 100%;
    display: block;
  };

  b {
    grid-column: 1;
  }

  .big {
    grid-column: 2;
  }

  .link {
    font-family: 'Lora', serif;
    text-decoration: none;
    // color: white;
  }
}

.slider {
  width: 80%;
  margin: auto;
  height: 150px;
  // overflow: hidden;
  position: relative;
}

.sliderWrapper {
  display: flex;
  overflow: inherit;
}

.slide {
  margin: 0 20%;
}

.rightArrow {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 3;
  color: red;
}

.leftArrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  color: red;
}

.modal {
  font-family: 'Lora', serif;
  display: block;
  // background-color: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // z-index: 3;
  .modal-box {
    transition: opacity 2s;
    background-color: $backgroundWhite;
    // background-color: lighten($green, 35%);
    opacity: 1;
    // width: 80vw;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 2%;
    margin: 1% auto;
    padding: 2%;
    line-height: 120%;
    box-shadow: 0 2px 2px rgba(63,58,96,0.2);
    overflow: auto;
  }
}

.gameContainer {
  border-radius: 1%;
  box-shadow: 1px 10px 5px rgba(63, 58, 96, 60%);
  margin: 3% auto;
  width: 80%;
  background-color: white;
  padding: 1%;

  a {
    color: $boardgameblue;
    text-decoration: none;
    box-shadow: 0 1px rgba(255, 81, 0, 30%);
  }
}

.description {
  overflow: auto;
  line-height: 1.4em;
  padding: 4%;
}

.hotlistContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .hotlistItem {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    // grid-area: game;
    grid-column: 1/2;
    // width: minmax(350px, 30%);
    width: 350px;
    padding: 3%;
    border-radius: 2%;
    box-shadow: 1px 3px 3px rgba(255, 81, 0, 30%);
    margin: 1% 3% 1% auto;

    span {
      display: block;
      color: $boardgameblue;
    }

    div {
      font-size: 0.4em;

      span {
        box-shadow: 0 0 1px $green;
        padding: 5%;
      }
    }
  }
}

.modalContainer {
  // grid-area: modal;
  grid-column: 2/3;
  grid-row: 1/50;
  // position: fixed;
  // top: 0;
  // left: 0;
  position: relative;
}

.gamelist {
  margin: 1% auto;
  padding: 2%;
  width: 90%;
  min-height: 70vh;
  text-align: right;
  color: $boardgameblue;
  box-shadow: 0 1px 3px rgba(255, 81, 0, 30%);

  .gamelistItem {
    padding: 1%;
    background-color: $lightgreen;
    display: grid;
    grid-template-columns: 4fr 1fr;

    &:nth-child(3n) {
      background-color: $green;
    }

    span {
      margin: 0 3%;
      color: $lightgreen;
      padding: 0 3%;
      text-align: left;
      width: 1%;
    }

    &:hover {
      background-color: $boardgameblue;
      color: $green;
      font-weight: 600;

      span {
        box-shadow: 0 0 1px $lightgreen;
        color: $lightgreen;
      }
    }
  }
}

.listsContainer {
  height: 80vh;
  color: $boardgameblue;

  .listContainer {
    padding: 0 10%;
    margin: 1%;
    text-align: left;
  }
}

.listTitleLinkContainer {
  h3 {
    color: $boardgameblue;
    text-decoration: none;
  }

  Link {
    text-decoration: none;
  }
  // display: flex;
  span {
    margin: 0 auto;
    padding: 1%;
    color: $boardgameorange;
  }
}

form {
  fieldset {
    border: none;
    box-shadow: 0 0 1px $boardgameorange;
    width: 90%;
  }
}

footer {
  background-color: $boardgameblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 10vh;
  max-height: 40vh;
  align-items: center;
  color: $boardgameorange;
  font-size: 0.9em;
}