.modal {
  font-family: 'Lora', serif;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .modal-box {
    transition: opacity 2s;
    background-color: $backgroundWhite;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 2%;
    margin: 1% auto;
    padding: 2%;
    line-height: 120%;
    box-shadow: 0 2px 2px rgba(63,58,96,0.2);
    overflow: auto;

    .close {
      text-align: right;
    }
  }
}

.modalContainer {
  grid-column: 2/3;
  grid-row: 1/51;
  position: relative;
  margin: 1%;
}
@media (max-width: 1125px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;

    .modal-box {
      width: 80vw;
      position: relative;
    }
  }

  .modalContainer {
    display: block;
  }
}
@media (max-width: 600px) {
  .modal-box {
    width: 90vw;
  }
}