@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text|Lora:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.App {
  text-align: center; }

h2 {
  color: #3f3a60; }

.link {
  color: #ff5100; }

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 100px 100px;
  grid-template-areas: "logo space user logout";
  width: 100%;
  height: 10vh;
  place-items: center;
  grid-gap: 1%;
  font-family: 'Bree Serif', serif;
  background-color: #3f3a60;
  grid-area: nav;
  color: #ff5100; }
  .navbar h1 {
    grid-area: logo; }
  .navbar b {
    grid-area: space; }
  .navbar .logout {
    grid-area: logout;
    text-decoration: none; }
  .navbar .user {
    grid-area: user; }
  .navbar span {
    font-weight: 400;
    color: white; }
    .navbar span:hover {
      color: #ff5100; }

.dropNav {
  display: flex;
  flex-flow: column;
  width: 25%;
  z-index: 2; }
  .dropNav span {
    text-align: right;
    padding: 3%; }
  .dropNav .link {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: white;
    background-color: #ffb999; }

.slider {
  width: 80%;
  margin: auto;
  height: 150px;
  position: relative; }

.sliderWrapper {
  display: flex;
  overflow: inherit; }

.slide {
  margin: 0 20%; }

.rightArrow {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 3;
  color: red; }

.leftArrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  color: red; }

.modal {
  font-family: 'Lora', serif;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3; }
  .modal .modal-box {
    transition: opacity 2s;
    background-color: #f7faf8;
    opacity: 1;
    width: 80vw;
    position: relative;
    border-radius: 2%;
    margin: 1% auto;
    padding: 2%;
    line-height: 120%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    /* font-family: 'Arial'; */
    overflow: auto; }

.gameContainer {
  border-radius: 1%;
  box-shadow: 1px 10px 5px rgba(63, 58, 96, 0.6);
  margin: 3% auto;
  width: 80%;
  background-color: ghostwhite;
  padding: 1%; }
  .gameContainer a {
    color: #3f3a60;
    text-decoration: none;
    box-shadow: 0 1px rgba(255, 81, 0, 0.3); }

.description {
  overflow: auto;
  line-height: 1.4em;
  padding: 4%; }

.hotlistContainer {
  width: 90%;
  margin: 0 auto; }
  .hotlistContainer .hotlistItem {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    width: minmax(350px, 30%);
    padding: 3%;
    border-radius: 2%;
    box-shadow: 1px 3px 3px rgba(255, 81, 0, 0.3);
    margin: 1; }
    .hotlistContainer .hotlistItem span {
      display: block; }

.gamelist {
  margin: 1% auto;
  padding: 2%;
  width: 90%;
  text-align: right;
  color: #3f3a60;
  box-shadow: 0 1px 3px rgba(255, 81, 0, 0.3); }
  .gamelist .gamelistItem {
    padding: 1%;
    background-color: #b9e05d; }
    .gamelist .gamelistItem:nth-child(3n) {
      background-color: #92e05e; }

footer {
  background-color: #3f3a60;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  color: #ff5100;
  font-size: 0.9em; }

/*# sourceMappingURL=main.css.map */
